/* common design */
.commonDesign {
    max-width: 1440px;
    margin-right: 192px;
    margin-left: 192px;
    margin-top: 4rem;
    border-radius: 2rem;
    background-image: url('./resources/Background_decor@2x.png');
    background-repeat: repeat;
    background-color: rgba(243, 244, 246, 1);
}

.upperPart {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
}

.details {
    padding: 3.5rem;
}

.lowerPart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    bottom: 0.23rem;
}

.detailsOfMember {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
}

.member1 {
    background-color: rgba(193, 182, 248, 1);
}

.member2 {
    background-color: rgba(237, 172, 210, 1);
    border-top-right-radius: 2rem;
}

.member3 {
    background-color: rgba(156, 196, 248, 1);
}

.member4 {
    background-color: rgba(248, 216, 177, 1);
}

.member5 {
    background-color: rgba(134, 231, 212, 1);
    border-bottom-right-radius: 2rem;
}

.imageDiv {
    position: relative;
    width: fit-content;
}

.name,
.post,
.detailsOfMember {
    width: fit-content;
}

.name {
    color: white;
    font-size: calc(18.6rem/16);
}

.post {
    color: #d2d2cb;
    font-size: calc(13.5rem/16);
}

.title {
    color: #6B7CC3;
    font-size: calc(14.8rem/16);
}

.greetings {
    color: #191919;
    font-size: calc(36.4rem/16);
}

.description {
    color: #7B808B;
    font-size: calc(14.5rem/16);
}

.seeAllMembersDiv {
    color: #6C717D;
    font-size: calc(14.8rem/16);
    padding: 0rem 0rem 2rem 3.5rem;
    display: flex;
    align-items: last baseline;
}

/* for mobile */
@media screen and (max-width:576px) {

    .commonDesign {
        margin: 0rem;
    }

    .imageDiv {
        position: relative;
        margin: 0rem;
    }

    .commonDesign,
    .upperPart,
    .lowerPart {
        display: flex;
        flex-direction: column;
    }

    .member1,
    .member2,
    .member3,
    .member4 {
        border-radius: 0rem;
        padding: 0rem;
        width: 396px;
    }
    .member5{
        padding: 0rem;
        width: 396px;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    .seeAllMembersDiv{
        display: none;
    }
}